
body {
  background: #171717;

}

.container_adv{

  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 50px;
}

.container_adv > div{
  width:  100%;

}

.input_text_adv{
  display: grid;
  grid-template-columns: 200px 1fr ;
}

.input_text_adv > div{
  margin: 5px;
  align-self: center;
  font-size: 13px;
  color: #bdc1c6;
}

h4{
  margin-top: 40px;
}

h2{
  color:  #f28b82;
}
#advanced_button{
  background: #8ab4f8; 
  border-color: #8ab4f8; 
  color: #202124; 
  height: 30px; 
  border: 1px solid #3079ed;
}

#advanced_button:hover{
  background: #bdd4f8; 
}

#adv_div_button{
  text-align: right;
  width:  50%;

}

#search_bar_adv {
  font-size: large;
  width:  50%;
  background: #202124;
  border:  1px solid #5f6368;;
  color: #e8eaed;
  min-width:  120px;

}


@media (max-width: 1000px) {

  #search_bar_adv {
    width: 70%;
  }
  #adv_div_button {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container_adv{
    padding-left: 5px;
  }
  .input_text_adv{
    grid-template-columns: 170px 1fr ;
  }
  #search_bar_adv {
    width: 80%;
  }
  #adv_div_button {
    width: 80%;
  }
}
